/* ========== THEME ========== */
:root {
  --clr-primary-500: 0deg, 4%, 22%;
  --clr-primary-300: 0deg, 1%, 45%;
  --clr-accent-900: 208deg, 78%, 14%;
  --clr-accent-500: 208deg, 79%, 28%;
  --clr-accent-300: 207deg, 31%, 57%;
  --clr-accent-100: 209deg, 32%, 86%;
  --clr-accent-25: 210deg, 33%, 96%;
  --clr-secondary: 0deg, 0%, 100%;

  --ff-primary: 'Raleway Variable', sans-serif;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;

  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-600: 1.5rem;
  --fs-800: 2rem;

  --inline-margin-sm: 0.75rem;
}

/* ========== CSS RESET ========== */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ========== GENERAL STYLING ========== */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
body {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  font-variant-numeric: lining-nums;
  color: var(--clr-primary-500);
}

/* ========== UTILITY CLASSES ========== */
.material-symbols-rounded {
	font-family: "Material Symbols Rounded Variable";
  font-weight: 200;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}
.animation-off {
  transition: none !important;
}
.container {
  margin-inline: var(--inline-margin-sm);
}

@media (min-width: 780px) {
  .container {
    --max-width: 1110px;
    --padding: 1rem;
    max-width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
  }
}