/* ========== THEME ========== */
:root {
  --clr-primary-500: #3A3636;
  --clr-primary-300: #757272;
  --clr-accent-500: #0F4C81;

  --ff-primary: 'Raleway', sans-serif;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-800: 1.5rem;
}

/* ========== CSS RESET ========== */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}