---
import Layout from '../layouts/Layout.astro';
import OfferCard from '../components/OfferCard.astro';
import { Image } from 'astro:assets';
import heroBg from "../assets/hero-background.jpg";
import { getCollection } from 'astro:content';

const offers = await getCollection('offer');
---

<Layout title="Sandeo">
	<section id="about">
		<div class="hero container">
			<div class="hero-content">
				<h1>Kancelaria finansowo - księgowa</h1>
				<p>Jesteśmy zespołem doświadczonych specjalistów, gotowych pomóc Ci w osiągnięciu sukcesu biznesowego. Nasza oferta obejmuje kompleksowe usługi rachunkowe, podatkowe oraz doradztwo finansowe, które pozwalają Ci skupić się na rozwoju swojej działalności.</p>
				<a href="#offer"><button>oferta</button></a>
			</div>
			<div class="hero-bg" role="presentation">
				<Image src={heroBg} alt="" width="500"/>
			</div>
		</div>
	</section>
	<section class="more-about" aria-label="Więcej o nas">
		<div class="more-about-content container">
			<div>
				<h2>Doświadczenie</h2>
				<p>Posiadamy wieloletnie doświadczenie w obszarze rachunkowości i finansów, dzięki czemu możesz polegać na naszej wiedzy i profesjonalizmie.</p>
			</div>
			<div>
				<h2>Nowoczesne rozwiązania</h2>
				<p>Digitalizacja, automatyzacja procesów, oraz generowanie i rejestracja elektronicznych sprawozdań finansowych.</p>
			</div>
			<div>
				<h2>Spersonalizowane usługi</h2>
				<p>Dostosowujemy nasze usługi do indywidualnych potrzeb każdego klienta, zapewniając efektywne i skrojone na miarę rozwiązania.</p>
			</div>
		</div>
	</section>
	<section id="offer" class="offer container">
		<h2>czym się zajmujemy</h2>
		<div class="offer-items">
			{offers.map(offer => (
				<OfferCard data={offer.data} url={`/oferta/${offer.slug}`}></OfferCard>
			))}
		</div>
	</section>
</Layout>

<style>
	.hero {
		text-align: center;
		background-color: hsl(var(--clr-accent-25));
		margin: 0;
	}
	.hero-content {
		padding: 2rem var(--inline-margin-sm) 0;
	}
	h1 {
		line-height: 1.8rem;
		font-weight: var(--fw-medium);
	}
	.hero-content p {
		margin-top: 0.5rem;
		color: hsl(var(--clr-primary-300));
	}
	button {
		margin-top: 2rem;
		color: hsl(var(--clr-accent-500));
		background-color: hsl(var(--clr-accent-25));
		font-size: var(--fs-600);
		font-weight: var(--fw-bold);
		padding: 0.5rem 2rem;
		border: 2px solid hsl(var(--clr-accent-500), 0.5);
		border-radius: 8px;
		cursor: pointer;
	}
	button:hover {
		background-color: hsl(var(--clr-accent-500));
		color: hsl(var(--clr-accent-25));
	}
	.hero-bg {
		position: relative;
	}
	.hero-bg::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, hsl(var(--clr-accent-25), 1), hsl(var(--clr-accent-25), 0.2) 50%);
	}
	.hero-bg img {
		width: 100%;
		object-fit: cover;
	}
	.more-about {
		background-color: hsl(var(--clr-accent-900));
	}
	.more-about-content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-block: 2rem;
		text-align: center;
	}
	.more-about-content div {
		position: relative;
	}
	.more-about-content div:not(:last-child)::after {
		content: "";
		position: absolute;
		bottom: -1rem;
		left: 25%;
		height: 1px;
		width: 50%;
		background-color: hsl(var(--clr-accent-500), 0.5);
	}
	.more-about h2 {
		color: hsl(var(--clr-accent-300));
		font-size: var(--fs-450);
	}
	.more-about p {
		font-size: var(--fs-400);
		color: hsl(var(--clr-accent-100));
	}
	.offer {
		margin-block: 4rem;
	}
	.offer h2 {
		position: relative;
		font-size: var(--fs-600);
		margin-bottom: 2rem;
		margin-left: calc(min(10vw, 4rem) + 0.5rem);
	}
	.offer h2::before {
		content: "";
		position: absolute;
		right: calc(100% + 0.5rem);
		top: 50%;
		width: min(10vw, 4rem);
		height: 5px;
		background-color: hsl(var(--clr-accent-500));
		border-radius: 4px;
	}
	.offer-items {
		display: grid;
		gap: 1rem;
	}
	@media (min-width: 780px) {
		section:has(.hero) {
			padding-block: min(6rem, 10vh) min(12rem, 20vh);
		}
		.bg-left-extend {
			background: linear-gradient(to right, hsl(var(--clr-accent-25), 1) 50%, hsl(var(--clr-accent-25), 0) 50%);
		}
		.hero {
			position: relative;
			display: flex;
			margin-inline: auto;
			text-align: left;
			transform: translateX(-100px);
			opacity: 0;
			transition: transform 0.25s ease-in, opacity 0.5s ease-out;
		}
		.hero-loaded {
			transform: translateX(0);
			opacity: 1;
		}
		.hero::before {
			content: "";
			position: absolute;
			top: 0;
			left: -80%;
			width: 80%;
			height: 100%;
			background: inherit;
		}
		.hero-content {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			max-width: 60%;
			padding: clamp(2rem, 10vh, 6rem) 0;
			font-size: var(--fs-450);
		}
		.hero-content a {
			align-self: center;
		}
		h1 {
			font-size: var(--fs-800);
		}
		.hero-bg img {
			height: 100%;
			border-radius: 8px;
		}
		.hero-bg::after {
			background: linear-gradient(to right, hsl(var(--clr-accent-25), 1), hsl(var(--clr-accent-25), 0.2) 50%);
		}
		.more-about-content {
		flex-direction: row;
		text-align: left;
		}
		.more-about-content div:not(:last-child)::after {
			height: 100%;
			width: 1px;
			left: calc(100% + 1rem);
			bottom: 0;
		}
		.offer h2 {
			font-size: var(--fs-800);
		}
		.offer-items {
			grid-template-columns: 1fr 1fr;
			row-gap: 2rem;
		}
	}
</style>

<script>
	// Hero animation.
	window.onload = (event) => {
		const hero = document.querySelector(".hero")!;
		const options = {threshold: 0.1};
		let observer = new IntersectionObserver((entries, observer) => {
			entries.forEach(entry => {
				if (entry.isIntersecting) entry.target.classList.add("hero-loaded");
			});
		}, options);
		observer.observe(hero);
	};
</script>

