---
interface Props {
  controls: string;
  overlay: string;
}
const {controls, overlay} = Astro.props
---

<button-burger>
  <button aria-label="Menu" aria-controls={controls} aria-expanded="false" data-overlay={overlay}>
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
</button-burger>

<style>
  button {
    position: absolute;
    right: var(--inline-margin-sm);
    padding: 0;
    cursor: pointer;
    text-align: start;
    background-color: transparent;
    border: none;
  }
  div {
    width: 32px;
    height: 24px;
    position: relative;
  }
  span {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: hsl(var(--clr-primary-300));
    border-radius: 2px;
  }
  span:nth-child(2) {
    top: 10px;
    opacity: 1;
    transition: width 0.5s ease, opacity 0.5s ease;
  }
  span:last-child {
    top: 20px;
  }
  span:first-child,
  span:last-child {
    transition: transform 0.5s ease;
  }
  .closed span:nth-child(2) {
    opacity: 0;
    width: 0;
  }
  .closed span:first-child {
    transform: rotate(135deg) translate(7px, -7px);
  }
  .closed span:last-child {
    transform: rotate(-135deg) translate(7px, 7px);
  }
  @media (min-width: 780px) {
    button {
      display: none;
    }
  }
</style>

<script>
  class Hamburger extends HTMLElement {
    button: HTMLElement;
    controlledElement: HTMLElement;
    overlay: HTMLElement;

    constructor() {
      super();

      this.button = this.querySelector('button')!;
      const controlID = this.button.getAttribute("aria-controls")!;
      this.controlledElement = document.getElementById(controlID)!;
      const overlayName = this.button.getAttribute("data-overlay")!;
      this.overlay = document.querySelector(`.${overlayName}`)!;
      
      this.button.addEventListener("click", () => {
        this.controlledElement.classList.remove("animation-off");
        const visible = this.controlledElement.getAttribute("data-visible");
        if (visible === "false") this.open();
        else if (visible === "true") this.close();
      });

      // Close menu when clicked on menu item without submenu.
      const noSubmenuLinks = this.controlledElement.querySelectorAll(":scope > li:not(.has-submenu)");
      noSubmenuLinks.forEach(link => {
        link.addEventListener("click", () => {
          if(window.innerWidth < 780) this.close();
        });
      });

      // Close menu when clicked on overlay.
      this.overlay.addEventListener("click", () => this.close());
    }

    open(): void {
      this.button.classList.add("closed");
      this.button.setAttribute("aria-expanded", "true");
      this.controlledElement.setAttribute("data-visible", "true");
      this.overlay.classList.add("overlay-visible");
      document.body.style.overflow = "hidden";
    }
    
    close(): void {
      this.button.classList.remove("closed");
      this.button.setAttribute("aria-expanded", "false");
      this.controlledElement.setAttribute("data-visible", "false");
      this.overlay.classList.remove("overlay-visible");
      document.body.style.overflow = "auto";
    }
  }
  customElements.define("button-burger", Hamburger);
</script>