--- 
import '@fontsource-variable/raleway';
import "@fontsource-variable/material-symbols-rounded";
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width initial-scale=1"/>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- SVG sprite definition -->
		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<symbol viewBox="0 -960 960 960" id="arrow_down">
				<path d="M480-371.69 267.69-584 296-612.31l184 184 184-184L692.31-584 480-371.69Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="chat">
				<path d="M260-420h280v-40H260v40Zm0-120h440v-40H260v40Zm0-120h440v-40H260v40ZM120-156.92v-618.46q0-27.62 18.5-46.12Q157-840 184.62-840h590.76q27.62 0 46.12 18.5Q840-803 840-775.38v430.76q0 27.62-18.5 46.12Q803-280 775.38-280h-532.3L120-156.92ZM226-320h549.38q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-430.76q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H184.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v521.15L226-320Zm-66 0v-480 480Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="edit_square">
				<path d="M224.62-160q-27.62 0-46.12-18.5Q160-197 160-224.62v-510.76q0-27.62 18.5-46.12Q197-800 224.62-800h335.46l-40 40H224.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v510.76q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69h510.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-299.53l40-40v339.53q0 27.62-18.5 46.12Q763-160 735.38-160H224.62ZM480-480Zm-80 80v-104.62l357.77-357.76q6.61-6.62 13.92-9.16t15.39-2.54q7.54 0 14.73 2.54t13.04 8.39L859.31-820q6.38 6.62 9.69 14.58 3.31 7.96 3.31 16.04 0 8.07-2.43 15.26-2.42 7.2-9.03 13.81L500.77-400H400Zm432.54-388.62-44.46-46.76 44.46 46.76ZM440-440h43.69l266.62-266.62-21.85-21.84-24.38-23.39L440-487.77V-440Zm288.46-288.46-24.38-23.39 24.38 23.39 21.85 21.84-21.85-21.84Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="groups">
				<path d="M40-256.92v-34.54q0-36.85 39.38-61.16 39.39-24.3 101.39-24.3 9.15 0 19.61.88 10.47.89 22.24 2.89-9.39 16.38-13.7 33.61-4.3 17.23-4.3 34.54v48.08H40Zm240 0v-45q0-24.18 14.04-44.21 14.04-20.02 41.42-34.64 27.39-14.61 63.81-21.92 36.42-7.31 80.42-7.31 44.85 0 81.27 7.31 36.42 7.31 63.81 21.92 27.38 14.62 41.31 34.64Q680-326.1 680-301.92v45H280Zm475.38 0v-47.85q0-19.14-4.19-36.07t-12.57-32.31q12.53-2 22.5-2.89 9.96-.88 18.88-.88 62 0 101 24.19t39 61.27v34.54H755.38Zm-434.23-40h317.93v-8.46q-2.31-28.47-46.66-46.54Q548.08-370 480-370t-112.42 18.08q-44.35 18.07-46.43 46.54v8.46Zm-140.59-117.7q-23.56 0-40.14-16.72-16.57-16.72-16.57-40.2 0-23.23 16.72-39.69 16.72-16.46 40.2-16.46 23.23 0 40.08 16.46 16.84 16.46 16.84 39.92 0 22.77-16.42 39.73-16.43 16.96-40.71 16.96Zm599.44 0q-23 0-39.96-16.96t-16.96-39.73q0-23.46 16.96-39.92t40.11-16.46q23.85 0 40.31 16.46t16.46 39.69q0 23.48-16.36 40.2-16.37 16.72-40.56 16.72ZM480.27-440q-36.42 0-62.19-25.58-25.77-25.57-25.77-62.11 0-37.27 25.57-62.48 25.58-25.22 62.12-25.22 37.27 0 62.48 25.14 25.21 25.13 25.21 62.29 0 36.42-25.13 62.19Q517.43-440 480.27-440Zm.11-40q19.7 0 33.5-14.19 13.81-14.2 13.81-33.89t-13.71-33.5q-13.71-13.81-33.98-13.81-19.31 0-33.5 13.72-14.19 13.71-14.19 33.98 0 19.3 14.19 33.5Q460.69-480 480.38-480Zm-.15 183.08ZM480-527.69Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="hub">
				<path d="M240.09-60q-41.63 0-70.86-29.14Q140-118.28 140-159.91q0-41.63 29.17-70.86Q198.35-260 240.02-260q11.67 0 24.44 3.38 12.77 3.39 23.77 9.16l101.62-126.39q-21.85-23.3-29.77-51.53-7.93-28.24-2.7-57.24l-149.46-49.3q-13.15 23.46-36.29 37.69Q148.48-480 120-480q-41.67 0-70.83-29.14Q20-538.28 20-579.91q0-41.63 29.14-70.86Q78.28-680 119.91-680q41.63 0 70.86 29.17Q220-621.67 220-580q0 5.08-.38 7.85-.39 2.77-.39 5.53l148.69 51.85Q381-540 405.27-558.85q24.27-18.84 57.04-24.3v-158.54q-38.23-7.16-60.27-35.58Q380-805.69 380-840.32q0-41.22 29.14-70.45Q438.28-940 479.91-940q41.63 0 70.86 29.17Q580-881.67 580-840q0 34.31-22.15 62.73-22.16 28.42-60.16 35.58v158.54q32.77 5.46 56.66 24.3 23.88 18.85 37.73 44.08l148.69-51.85q-.77-3.53-.77-5.92V-580q0-41.67 29.14-70.83Q798.28-680 839.91-680q41.63 0 70.86 29.14Q940-621.72 940-580.09q0 41.63-29.17 70.86Q881.67-480 840-480q-28.24 0-51.62-14.23t-36.3-37.69l-149.46 49.3q5.23 29-2.7 57.12-7.92 28.12-29.77 50.88l101.62 126.16q11-5 23.77-8.27 12.77-3.27 24.44-3.27 41.67 0 70.85 29.14Q820-201.72 820-160.09q0 41.63-29.14 70.86Q761.72-60 720.09-60q-41.63 0-70.86-29.17Q620-118.33 620-160q0-17.84 5.73-34.34 5.73-16.51 19.04-30.74L543.15-353q-27.15 17.62-62.88 17.62-35.73 0-63.65-17.62L315.23-225.08q12.54 14.23 18.65 30.74Q340-177.84 340-160q0 41.67-29.14 70.83Q281.72-60 240.09-60ZM120-520q24.69 0 42.35-17.65Q180-555.31 180-580t-17.65-42.35Q144.69-640 120-640t-42.35 17.65Q60-604.69 60-580t17.65 42.35Q95.31-520 120-520Zm120 420q24.69 0 42.35-17.65Q300-135.31 300-160t-17.65-42.35Q264.69-220 240-220t-42.35 17.65Q180-184.69 180-160t17.65 42.35Q215.31-100 240-100Zm240-680q24.69 0 42.35-17.65Q540-815.31 540-840t-17.65-42.35Q504.69-900 480-900t-42.35 17.65Q420-864.69 420-840t17.65 42.35Q455.31-780 480-780Zm0 404.62q35.08 0 59.85-24.77 24.77-24.77 24.77-59.85t-24.77-59.85q-24.77-24.77-59.85-24.77t-59.85 24.77q-24.77 24.77-24.77 59.85t24.77 59.85q24.77 24.77 59.85 24.77ZM720-100q24.69 0 42.35-17.65Q780-135.31 780-160t-17.65-42.35Q744.69-220 720-220t-42.35 17.65Q660-184.69 660-160t17.65 42.35Q695.31-100 720-100Zm120-420q24.69 0 42.35-17.65Q900-555.31 900-580t-17.65-42.35Q864.69-640 840-640t-42.35 17.65Q780-604.69 780-580t17.65 42.35Q815.31-520 840-520ZM480-840ZM120-580Zm360 120Zm360-120ZM240-160Zm480 0Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="laptop">
				<path d="M40-227.69v-40h80v-510.77h720v510.77h80v40H40Zm360-40h160v-30.77H400v30.77Zm-240-70.77h640v-400H160v400Zm320-200Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="location">
				<path d="M480.14-490.77q26.71 0 45.59-19.02 18.89-19.02 18.89-45.73 0-26.71-19.03-45.6Q506.57-620 479.86-620q-26.71 0-45.59 19.02-18.89 19.02-18.89 45.73 0 26.71 19.03 45.6 19.02 18.88 45.73 18.88ZM480-172.92q112.77-98.16 178.31-199.66t65.54-175.57q0-109.77-69.5-181.2-69.5-71.42-174.35-71.42t-174.35 71.42q-69.5 71.43-69.5 181.2 0 74.07 65.54 175.57T480-172.92Zm0 53.69Q339-243.92 267.58-351.81q-71.43-107.88-71.43-196.34 0-126.93 82.66-209.39Q361.46-840 480-840q118.54 0 201.19 82.46 82.66 82.46 82.66 209.39 0 88.46-71.43 196.34Q621-243.92 480-119.23Zm0-436.15Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="mail">
				<path d="M184.62-200q-27.62 0-46.12-18.5Q120-237 120-264.62v-430.76q0-27.62 18.5-46.12Q157-760 184.62-760h590.76q27.62 0 46.12 18.5Q840-723 840-695.38v430.76q0 27.62-18.5 46.12Q803-200 775.38-200H184.62ZM480-475.38 160-684.62v420q0 10.77 6.92 17.7 6.93 6.92 17.7 6.92h590.76q10.77 0 17.7-6.92 6.92-6.93 6.92-17.7v-420L480-475.38Zm0-44.62 307.69-200H172.31L480-520ZM160-684.62V-720v455.38q0 10.77 6.92 17.7 6.93 6.92 17.7 6.92H160v-444.62Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="schedule">
				<path d="m625.85-305.85 28.3-28.3L500-488.33V-680h-40v208.31l165.85 165.84ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120ZM480-480Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"></path>
			</symbol>
			<symbol viewBox="0 -960 960 960" id="smartphone">
				<path d="M304.62-80Q277-80 258.5-98.5 240-117 240-144.62v-670.76q0-27.62 18.5-46.12Q277-880 304.62-880h350.76q27.62 0 46.12 18.5Q720-843 720-815.38v670.76q0 27.62-18.5 46.12Q683-80 655.38-80H304.62ZM280-180v35.38q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69h350.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93V-180H280Zm0-40h400v-520H280v520Zm0-560h400v-35.38q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H304.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93V-780Zm0 0v-60 60Zm0 600v60-60Z"></path>
			</symbol>
		</svg>
		<Header></Header>
		<main>
			<div class="overlay"></div>
			<slot />
		</main>
		<Footer></Footer>
	</body>
</html>

<style>
	main {
  	margin-top: 8rem;
	}
	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hsl(var(--clr-primary-500), 0.8);
		z-index: 5;
	}
	.overlay-visible {
		display: block;
	}
</style>
